.img_background {
  content: url(../images/taking_notes.png);
  position: absolute;
  top: 230px;
  right: 10px;
}
.wrapper {
  margin: 0 auto;
  position: relative;
}

/*RESPONSIVE*/

@media screen and (max-width: 1024px) {

  .wrapper {
    width: 768px;
    font-size: 12px;
  }
  .img_background {
    right: 50px;
    width: 660px;
    height: 475px;
  }

}

  @media screen and (max-width: 768px) {

    .wrapper {
      width: 575px;
    }
    .header {
        width: 90%;
    }
    .img_background {
      top: 348px;
      left: 250px;
      width: 308px;
      height: 254px;
    }
  }

  @media screen and (max-width: 420px) {
    .img_background {
        left: 30px;
   }
   .wrapper {
        width: 320px;
  }
}