button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

button, 
button:active, 
button:focus {
    outline: none !important;
    cursor: pointer;
}

.tabs__buttons {
    display: flex;
    border-top: 1px solid #E2E2E2;
    width: 53%;
    margin-left: 44px;
}

.tab {
    cursor: pointer;
    width: 175px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: 900;
    margin-left: -3px;
    color: rgba(5, 53, 101, 0.5);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

.tab-current {
    border-top: 4px solid #2F80ED;
    color: black;
    cursor: pointer;
    width: 175px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-left: -3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1024px) {

    .tabs__buttons {
        width: 80%;
    }
}